/*-- Reset Rule --*/
* {
  border: 0;
  margin: 0;
  padding: 0;
}
.nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0;
}
.nav-ul li {
  padding: 0 25px;
  list-style-type: none;
}
.red-ltrs {
  color: #ee252f;
  text-transform: uppercase;
}
/*== Universal Styling ==*/
.red-ltrs {
  color: #ee252f;
  text-transform: uppercase;
}
/*== Header ==*/
.header {
  background-color: #f8df1f;
  padding: 50px 25px;
}
.header .nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0;
}
.header .nav-ul li {
  padding: 0 25px;
  list-style-type: none;
}
.footer {
  background-color: #080801;
}
