/*-- Reset Rule --*/
* {
  border: 0;
  margin: 0;
  padding: 0;
}
/*-- Imports --*/
/*-- Sticky Footer Mixin --*/
.html-body html,
.html-body body {
  height: 100%;
}
.html-body html body,
.html-body body body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.html-body html body header,
.html-body body body header,
.html-body html body main,
.html-body body body main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.html-body html body .footer,
.html-body body body .footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0;
}
.nav-ul li {
  font: 500 12px 'Roboto', sans-serif;
  padding: 0 25px;
  list-style-type: none;
}
.red-ltrs {
  color: #ee252f;
  text-transform: uppercase;
}
.background-img {
  background: #f3f3f3 url(../img/banner-bgedit.jpg) no-repeat center;
  background-size: cover;
}
.logo {
  height: 100px;
  text-align: center;
}
.btn {
  background-color: #f8df1f;
  border: 1px solid #f8df1f;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
}
.h2 {
  font: 500 20px 'Roboto', sans-serif;
  padding: 0 0 10px;
  text-transform: uppercase;
}
.flex-art {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0 auto;
  padding: 50px 10%;
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOiCnqEu92Fr1Mu51QrIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOjCnqEu92Fr1Mu51TjARc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOkCnqEu92Fr1Mu52xP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOjCnqEu92Fr1Mu51S7ABc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOjCnqEu92Fr1Mu51TzBhc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOjCnqEu92Fr1Mu51TLBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOkCnqEu92Fr1MmgWxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtvAw.ttf) format('truetype');
}
/*== Universal Styling ==*/
.red-ltrs {
  color: #ee252f;
  text-transform: uppercase;
}
html html,
html body {
  height: 100%;
}
html html body,
html body body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
html html body header,
html body body header,
html html body main,
html body body main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
html html body .footer,
html body body .footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
body {
  font: 400 10.66666667px 'Roboto', sans-serif;
  color: #050500;
}
button {
  background-color: #f8df1f;
  border: 1px solid #f8df1f;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
}
/*== Header Styling ==*/
.header {
  background-color: #f8df1f;
  padding: 50px 25px;
}
.header .nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0;
}
.header .nav-ul li {
  font: 500 12px 'Roboto', sans-serif;
  padding: 0 25px;
  list-style-type: none;
}
/*== Main Styling ==*/
main .image-box {
  background: #f3f3f3 url(../img/banner-bgedit.jpg) no-repeat center;
  background-size: cover;
}
main .image-box .hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  height: 350px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .image-box .hero h1 {
  display: none;
}
main .image-box .hero img {
  height: 100px;
  text-align: center;
}
main .image-box .hero button {
  background-color: #f8df1f;
  border: 1px solid #f8df1f;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
}
main .article-1,
main .article-2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0 auto;
  padding: 50px 10%;
}
main .article-1 div,
main .article-2 div {
  padding-right: 10%;
}
main .article-1 div h2,
main .article-2 div h2 {
  font: 500 20px 'Roboto', sans-serif;
  padding: 0 0 10px;
  text-transform: uppercase;
}
main .article-1 img,
main .article-2 img {
  width: 25%;
}
main .article-2 {
  background-color: #f3f3f3;
}
main .article-2 div,
main .article-2 img {
  padding-left: 10%;
}
.footer {
  background-color: #080801;
  border-top: 8px solid #f8df1f;
  height: 100px;
  text-align: center;
  padding: 15px 0 15px;
}
