/*-- Reset Rule --*/
* {
    border: 0;
    margin: 0;
    padding: 0;
}

@import "variables"; //variables.less

/*== Universal Styling ==*/
.red-ltrs {
    .red-ltrs();// mixin
}


/*== Header ==*/
.header {
    background-color: @color-secondary;
    padding: @padding;
    .nav-ul {
        .nav-ul ();
    }
}

main {
    section {
        h1 {

        }
        img {

        }
        button {

        }
    }
    .article-1 {
        h2 {

        }
        p {

        }
        button {

        }
        img {

        }
    }
    .article-2 {
        img {

        }
        h2 {

        }
        p {

        }
        button {

        }
    }
}

.footer {
    background-color: @color-quaternary;
}