/*-- Reset Rule --*/
* {
    border: 0;
    margin: 0;
    padding: 0;
}

@import "variables"; //variables.less

/*== Universal Styling ==*/
.red-ltrs {
    .red-ltrs();
}


/*== Header ==*/
.header {
    background-color: @color-secondary;
    height: 100px;
    padding: @padding;
    .nav {
        ul {
            display: flex;
            flex-flow: row wrap;
            
            li {
                list-style-type: @list;
            }
        }
    }
}

main {
    section {
        h1 {

        }
        img {

        }
        button {

        }
    }
    .article-1 {
        h2 {
            
        }
        p {

        }
        button {

        }
        img {

        }
    }
    .article-2 {
        img {

        }
        h2 {

        }
        p {

        }
        button {

        }
    }
}

.footer {
    background-color: @color-quaternary;
}