@import "variables";

/*-- Sticky Footer Mixin --*/
.html-body {
    html, body {
        height: 100%;
        body {
            display: flex;
            flex-direction: column;
            main {
                flex: 1 0 auto;
            }
            .footer {
                flex-shrink: 0;
            }
        }
    }
}

.nav-ul {
    display: flex;
    flex-flow: @flow-r;
    margin: 0;
    li {
        font: @font-a;
        padding: @btn-pad;
        list-style-type: @l;
    }
}

.red-ltrs {
    color: @color-tertiary;
    text-transform: @upper;
}

.background-img {
    background: @color-primary @background no-repeat center;
    background-size: cover;
}

.logo {
    align-self: center;
    height: 100px;
    justify-content: center;
}

.btn {
    background-color: @color-secondary;
    border: 1px solid @color-secondary;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 20px;
    text-transform: @upper;
}

.h2 {
    font: @font-h;
    padding: @h-pad;
    text-transform: @upper;
}

.flex-art {
    display: flex;
    flex-flow: @flow-r;
    margin: 0 auto;
    max-width: @sxn-w;
    padding: @sxn-pad;
}