@padding: 50px 25px;
@btn-pad: 0 25px;

// fonts and typography
@font: 400 16px/1.5 'Roboto', sans-serif;
@font-h: 500 30px/1.5 'Roboto', sans-serif;
@font-a: 500 18px/1.5 'Roboto', sans-serif;
@text-c: center;
@text-l: left;
@l: none;
@upper: uppercase;

// alignment
@flow-r: row wrap;
@flow-c: column wrap;
@c: center;


// colors
@color-primary: #f3f3f3;
@color-secondary: #f8df1f;
@color-tertiary: #ee252f;
@color-quaternary: #080801;

// images
@background: url(../img/banner-bgedit.jpg);
@height-img: 150px;
@banner: 350px;

// element sizing
@width: 150px;
@height: 50px;

