@padding: 50px 25px;

// fonts and typography
@font-family: roboto;
@text-align-c: center;
@text-align-l: left;
@list: none;

// display
@display-flex: flex;
@display-block: inline-block;

// alignment
@flow-r: row wrap;
@flow-c: column wrap;

// colors
@color-primary: #f3f3f3;
@color-secondary: #f8df1f;
@color-tertiary: #ee252f;
@color-quaternary: #080801;

// images
@height-img: 150px;
@height-banner: 300px;

// mixins
.red-ltrs {
    color: @color-tertiary;
    text-transform: uppercase;
}